

<div class="user">
  <div class="tech">
    <h2><a href="https://visionary-futures-collective.github.io/covid19/">The COVID-19 Response Tracker</a></h2>
      <p>We're collecting data and telling stories about COVID on campus, from student experiences to campus responses.</p>
      <p><a href="https://visionary-futures-collective.github.io/covid19/"><img src="https://visionary-futures-collective.github.io/img/vfc.timeline.gb.png" alt="Greater Boston timeline." height="200"></a></p>
  </div>
  <div class="tech">
    <h2><a href="https://visionary-futures-collective.github.io/psychicfriends">Academic Psychic Friends Network</a></h2>
    <p>The Academic Psychic Friends Network is our effort to tell a feelings-centered, future-oriented story about what's happening in higher ed. </p>
    <p><a href="https://visionary-futures-collective.github.io/psychicfriends"><img src="https://visionary-futures-collective.github.io/img/14-assprof.png" alt="Card XIV: The Assistant Professor." height="200"></a></p>
  </div>
  <div class="tech">
    <h2><a href="https://visionary-futures-collective.github.io/covid19/caregivers">Caregiver Survey</a><br></h2>
  <p>Campus advocates have asked us to help them track how universities are providing support for students and staff who are caregivers. We're collecting information through <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6iRSlr7DJXthJwENxXTjTa3jPiFVqOI9RsNqu-1LZbhw2Xg/viewform">an online survey</a> and developing resources to make this information visible.</p>
    <p><a href="https://visionary-futures-collective.github.io/covid19/caregivers"><img src="https://visionary-futures-collective.github.io/img/caregiver-map-10-24.png" alt="Caregiver feelings map." height="200"></a></p>
  </div>
</div>

<div class="user-details">

<h1> What is the Visionary Futures Collective?</h1>
  <p>The Visionary Futures Collective brings together humanists across the United States to tackle challenges relating to the present and future of higher education. </p>

  <p>This group is made up of scholars of the humanities. Many, but not all of us have or are currently pursuing graduate degrees. Many, but not all of us work or study at universities. Some, but not most of us, are professors. All of us believe in the transformational power and vital importance of the humanities.</p>

    <p>This group believes that the study of human history and cultural expression is essential to a more just and meaningful society. Our purpose is to create the conditions in which this work can thrive.  </p>

    <p>We begin with the premise that current conditions in higher education are incompatible with the work of the humanities. We formed at the start of the coronavirus pandemic because we understood that this public health crisis would exacerbate the structural inequities that characterize U.S. higher education. Our work is shaped by the long-overdue national reckoning with racial inequities led by the Black Lives Matter movement.  </p>

  <p>We believe that humanities labor must be carried out under conditions that do not put our lives or our health at risk. We believe that humanities labor is valuable, and must be credited and compensated fairly and equitably. </p>

  <p>We believe the systems in higher education that depend on labor exploitation, racism, sexism, ableism, xenophobia, and other forms of oppression must be dismantled.  </p>

  <p>We believe that higher education should be for the public good, and that the work of the humanities should be conducted for and with our communities. </p>

  <p>We recognize that these conditions will not be created through top-down change, and so we aim to build collective action from the bottom up. </p>

  <p>We are constantly learning new ways to enable change, but this group focuses on <strong>increasing transparency</strong> in higher education; <strong>creating compassionate communities</strong> through shared vulnerability; and <strong>working collectively</strong> to shift institutional practices.</p>
<!-- 
  <p>We currently have six priority areas:</p>
<ul>
  <li>Medical Humanities</li>
  <li>Information Literacy</li>
  <li>Feminist Communities of Care</li>
  <li>Decentering Whiteness</li>
  <li>Narrative Shift</li>
  <li>The Future of Higher Education</li>
</ul>
 -->
</div>

