<div class="user-details">
  <h1> Weclome</h1>
  <p>The Visionary Futures Collective is a community of humanists working in and around higher education. Our goals include increasing transparency, sharing vulnerability, and working collectively to imagine and create a better future for higher education.</p>
  <p>We write a biweekly newsletter, host monthly virtual tarot parties, and support projects. Scroll down to learn more about our work and our mission.</p>
  <p>Want to get involved? Send us an email: visionaryfuturescollective@gmail.com</p>
</div>
<div class="user-details">
  <h1> Our Projects </h1>
</div>
<div class="row">
<!--   COLUMN 1 -->
  <div class="column">
    <div class="container">
    <a href="https://visionary-futures-collective.github.io/caregivers">
      <img src="img/pandemicphone.jpg" alt="1918 pandemic photo" class="image" style="width:100%">
      <div class="middle">
        <div class="text"> <h3>The Caregivers Survey</h3> Advocacy and resources for university students and staff with caregiving responsibilities during the pandemic. </div>
      </div>
    </div>
  </a>
  <!--   </div> -->
  <!--   <div class="column"> -->
      <div class="container">
        <a href="https://visionary-futures-collective.github.io/psychicfriends">
          <img src="img/06-cohort.png" alt="The Cohort Tarot Card" class="image" style="width:100%">
          <div class="middle">
            <div class="text"><h3>Academic Tarot</h3> Telling a feelings-centered, future-oriented story about higher ed.</div>
          </div>
      </div>
      </a>


      <div class="container">
    <a href="https://etcl.uvic.ca/2021/01/12/2021-open-scholarship-awards/">
    <img src="img/c-ski.png" alt="Canadian Social Knowledge Institute" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>2021 Open Scholarship Awards</h3> We're so pleased to receive an honourable mention from the OA Awards!</div>
    </div>
    </a>
  </div>
  <div class="container">
    <a href="http://dhawards.org/dhawards2020/voting/">
    <img src="img/dhawards.jpeg" alt="word cloud" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>Digital Humanities Awards 2020</h3> We were nominated for a DH Award! Click to learn more and vote for your favorite projects. </div>
    </div>
    </a>
  </div>

  </div>
<!--     COLUMN 2 -->

  <div class="column">
  <div class="container">
    <a href="https://visionary-futures-collective.github.io/international-students/">
    <img src="img/nouvelle.jpg" alt="1673 manuscript map of the New World" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>International Student Survey</h3> <i>Data collection and testimony on student experiences. <br> Image source: <a href="https://jcblibrary.org/collection/nouvelle-decouverte-de-plusieurs-nations-dans-la-nouvelle-france-en-lannee-1673-et-1674?taxonomy_term=53">JCB Library</a></div></i>
    </div>
    </a>
  </div>

  <div class="container">
    <a href="https://hyperallergic.com/620919/visionary-futures-collective-academic-tarot/">
    <img src="img/gradstudent3.gif" alt="Card 0: The Grad Student" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>A Tarot Deck Offers Spiritual Solace to Scholars</h3> By Stephanie Malak for <i>Hyperallergic</i></div>
    </div>
    </a>
  </div>


  <div class="container">
    <a href="https://medium.com/nightingale/visionary-futures-and-making-change-in-the-academy-with-data-490da495c1ed">
    <img src="img/nightingale.png" alt="Pandemic Campus by Surasti Puri" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>Visionary Futures and Making Change in the Academy With Data</h3> By Amanda Henrichs for <i>Nightingale</i></div>
    </div>
    </a>
  </div>

    <div class="container">
    <a href="https://apfn.substack.com/">
    <img src="img/apfn.jpeg" alt="Three card draw" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>Academic Psychic Friends Network</h3> Semi-regular newsletter reporting on feelings, strategies, stories, and actions.</div>
    </div>
    </a>
  </div>


<!--   <div class="column"> -->
    


  </div>
<!--   </div> -->
<!--   COLUMN 3 -->
  <div class="column">
  <div class="container">
    <a href="img/covid19-mla-deck.pdf">
    <img src="img/actiondeck.png" alt="covid 19 and academic labor" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>Academic Labor Action Deck</h3> Resistance strategies for responding to covid, based on guidance from the MLA. </div>
    </div>
    </a>
  </div>
  <div class="container">
    <a href="https://hcommons.org/groups/academic-job-market-support-network/">
    <img src="img/ajmsn.jpg" alt="Screaming Job Market Possum" class="image" style="width:100%">
    <div class="middle">
      <div class="text"><h3>Job Market Support Network</h3> An open collection of resources for post-phds on the academic and alt-ac markets. </div>
    </div>
    </a>
  </div>
<div class="container">
      <a href="https://visionary-futures-collective.github.io/covid19/students">
      <img src="img/false-rumors.png" alt="Timeline of campus newspapers" class="image" style="width:100%">
      <div class="middle">
        <div class="text"><h3>#CovidCampus</h3> Sharing student reporting on the impact of the pandemic on their lives, learning, and labor.</div>
      </div>
      </a>
    </div>
 
    <div class="container">
      <a href="https://visionary-futures-collective.github.io/covid19/reopening">
        <img src="img/covid-map-2.png" alt="Map of Campus Reopenings" class="image" style="width:100%">
        <div class="middle">
          <div class="text"><h3>The COVID-19 Response Tracker.</h3><p> Using data to visualize campus responses to the COVID-19 Pandemic.</div>
        </div>
      </a>
    </div>



  </div>

  </div>
</div>

<div class="user-details">

<h1> Our Mission</h1>
  <p>The Visionary Futures Collective brings together humanists across the United States to tackle challenges relating to the present and future of higher education. </p>

  <p>This group is made up of scholars of the humanities. Many, but not all of us have or are currently pursuing graduate degrees. Many, but not all of us work or study at universities. Some, but not most of us, are professors. All of us believe in the transformational power and vital importance of the humanities.</p>

    <p>This group believes that the study of human history and cultural expression is essential to a more just and meaningful society. Our purpose is to create the conditions in which this work can thrive.  </p>

    <p>We begin with the premise that current conditions in higher education are incompatible with the work of the humanities. We formed at the start of the coronavirus pandemic because we understood that this public health crisis would exacerbate the structural inequities that characterize U.S. higher education. Our work is shaped by the long-overdue national reckoning with racial inequities led by the Black Lives Matter movement.  </p>

  <p>We believe that humanities labor must be carried out under conditions that do not put our lives or our health at risk. We believe that humanities labor is valuable, and must be credited and compensated fairly and equitably. </p>

  <p>We believe the systems in higher education that depend on labor exploitation, racism, sexism, ableism, xenophobia, and other forms of oppression must be dismantled.  </p>

  <p>We believe that higher education should be for the public good, and that the work of the humanities should be conducted for and with our communities. </p>

  <p>We recognize that these conditions will not be created through top-down change, and so we aim to build collective action from the bottom up. </p>

  <p>We are constantly learning new ways to enable change, but this group focuses on <strong>increasing transparency</strong> in higher education; <strong>creating compassionate communities</strong> through shared vulnerability; and <strong>working collectively</strong> to shift institutional practices.</p>
<!-- 
  <p>We currently have six priority areas:</p>
<ul>
  <li>Medical Humanities</li>
  <li>Information Literacy</li>
  <li>Feminist Communities of Care</li>
  <li>Decentering Whiteness</li>
  <li>Narrative Shift</li>
  <li>The Future of Higher Education</li>
</ul>
 -->
</div>

<div class="user-details">
<h1> Who we are</h1>
Alex Galarza
| Alex Wermer-Colan
| Amanda Henrichs
| Brandon Walsh
| Brian DeGrazia
| Brian Rosenblum
| Chesya Burke
| Claire Chenette
| Dhanashree Thorat
| Dawn Kaczmar
| Elizabeth Grumbach
| Geoffrey Way
| Hadassah St Hubert
| Hannah Alpert-Abrams
| Jim McGrath
| Matthew Hannah
| Mimi Winick
| Quinn Dombrowski
| Saronik Bosu
| Saul Alpert-Abrams
| Sylvia Fernandez

<div class="user-details">
  <h1>Learn More</h1>
Want to get involved? email visionaryfuturescollective@gmail.com
