<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded">The Visionary Futures Collective brings together humanists across the United States to tackle challenges relating to the present and future of higher education.<br><br>
                This group is made up of scholars of the humanities. Many, but not all of us have or are currently pursuing graduate degrees. Many, but not all of us work or study at universities. Some, but not most of us, are professors. All of us believe in the transformational power and vital importance of the humanities.
                <br><br>
                This group believes that the study of human history and cultural expression is essential to a more just and meaningful society. Our purpose is to create the conditions in which this work can thrive.
                <br><br>
                We begin with the premise that current conditions in higher education are incompatible with the work of the humanities. We formed at the start of the coronavirus pandemic because we understood that this public health crisis would exacerbate the structural inequities that characterize U.S. higher education. Our work is shaped by the long-overdue national reckoning with racial inequities led by the Black Lives Matter movement.
                <br><br>
                We believe that humanities labor must be carried out under conditions that do not put our lives or our health at risk. We believe that humanities labor is valuable, and must be credited and compensated fairly and equitably.
                <br><br>
                We believe the systems in higher education that depend on labor exploitation, racism, sexism, ableism, xenophobia, and other forms of oppression must be dismantled.
                <br><br>
                We believe that higher education should be for the public good, and that the work of the humanities should be conducted for and with our communities.
                <br><br>
                We recognize that these conditions will not be created through top-down change, and so we aim to build collective action from the bottom up.
                <br><br>
                We are constantly learning new ways to enable change, but this group focuses on increasing transparency in higher education; creating compassionate communities through shared vulnerability; and working collectively to shift institutional practices.
<!--                 <br><br>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
