<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://visionary-futures-collective.github.io/covid19/" class="portfolio-box">
                    <img src="img/portfolio/covid-map.png" class="img-responsive" alt="Map of Fall 2020 Campus Reopenings">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                COVID-19 Tracker
                            </div>
                            <div class="project-category text-faded">
                                Collecting data and using maps and timelines to tell stories about COVID on campus, from student experiences to campus responses.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
               <a href="https://visionary-futures-collective.github.io/psychicfriends/" class="portfolio-box">
                    <img src="img/portfolio/06-cohort.png" class="img-responsive" alt="Map of Fall 2020 Campus Reopenings">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Academic Psychic Friends Network
                            </div>
                            <div class="project-category text-faded">
                                Hope is critical of power. Join the Academic Psychic Friends Network for content that moves from hope to community and from community to action.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
               <a href="https://visionary-futures-collective.github.io/covid19/caregivers" class="portfolio-box">
                    <img src="img/portfolio/caregiver-feelings-10-24.png" class="img-responsive" alt="Pie chart of caregivers' feelings">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                The Caregivers Survey
                            </div>
                            <div class="project-category text-faded">
                                Bringing visibility to working conditions for caregivers on campuses during the coronavirus pandemic.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
